
/*https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048*/

/* Type Selectors */

li {}

/* Descendant Selector */
/* Select all elements within a designated element*/
/* This is more specific than li {} */
li a {} /* Ex: select all anchor tags <a> inside a list element <li> */

/* Adjacent Selector */
/* Select all elements where an element is next to another. */
/* This is more specific than li {} */
li + a {}
h4 + ul {} /* Ex: select all unordered lists <ul> that are after heading 4 <h4> */

/* Class, Attribute, and Pseudo-Class Selectors */
/* An order of magnitude more specific than previous selector. */
.hello {}

input[type="text"] {}

a:hover;
input:checked;

/* ID Selectors */
/* An order of magnitude more specific than previous selector. */
#hello

/* Attribute Selector */
/* Select all elements where a particular condition applies. */
a[href="http://www.google.com"] {} /* Ex: select all elements referencing google */

/* nth of type */
/* Select every nth of a particular element. */
ul:nth-of-type(3) {} /* Ex: select the third unordered lists <ul> */
li:nth-of-type(even) {} /* Ex: select every even list item <li> of every list <ol> or <ul> */