/*font-family*/
/* https://www.cssfontstack.com/ shows font availability on OSs.*/
p {
    font-family: Arial;
}

h1 {
    font-family: Georgia;
}

/*font-size*/

body {
    /* Setting the default body text size to 10 pixels. */
    font-size: 10px;
}

h1 {
    /* Header 1s are 5X body text. */
    font-size: 5.0em;
}

p {
    /* Paragraphs are 2X the body text. */
    font-size: 2.0em;
}

span {
    /* The span inside the paragraph is 2X the paragraph size. */
    font-size: 2.0em;
}

/*font-weight*/

h1 {
    font-weight: bold;
}

p {
    /* Also allow a value from 100 - 800 incrementing at 100. */
    font-weight: 300;
}

span {
    font-weight: 800;
}

/*line-weight*/

p {
    /*Setting line spacing.*/
    line-height: 1.5;
}

/*text-align*/

h1 {
    /*Setting the text alignment.*/
    text-align: center;
}

p {
    text-align: justify;
}

/*text-decorator*/

h1 {
    text-decoration: line-through;
}

p {
    text-decoration: underline;
}