
/* element Selector */
li {
    border: 1px solid red;
}

/* id Selector */
/* id is unique in each HTML. */
#special {
    background-color: yellow;
}

/* class Selector */
.completed {
    text-decoration: line-through;
}

/* Star Selector */
/* Apply to all the elements in a document. */
* {
    /* Ex: wrap each element in a light gray solid border */
    border: 1px solid lightgray;
}

/* Descendant Selector */
/* Select all elements within a designated element*/
li a {} /* Ex: select all anchor tags <a> inside a list element <li> */

/* Adjacent Selector */
/* Select all elements where an element is next to another. */
h4 + ul {} /* Ex: select all unordered lists <ul> that are after heading 4 <h4> */

/* Attribute Selector */
/* Select all elements where a particular condition applies. */
a[href="http://www.google.com"] {} /* Ex: select all elements referencing google */

/* nth of type */
/* Select every nth of a particular element. */
ul:nth-of-type(3) {} /* Ex: select the third unordered lists <ul> */
li:nth-of-type(even) {} /* Ex: select every even list item <li> of every list <ol> or <ul> */